{
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
}
